<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<body>
    <!--下拉框-->
    <div id="app">
        <select v-model="selected">
      <option value="A被选">A</option>
      <option value="B被选">B</option>
      <option value="C被选">C</option>
    </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <script src="/resources/js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                selected: ''
            }
        });
    </script>

    <!--单选按钮-->
    <div id="app">
        <input type="radio" id="small" value="small_value" v-model="picked">
        <label for="small">small</label>
        <br>
        <input type="radio" id="big" value="big_value" v-model="picked">
        <label for="big">big</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <script src="/resources/js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                picked: ''
            }
        })
    </script>

    <!--复选框-->
    <div id="app">
        <input type="checkbox" id="one" value="value_one" v-model.lazy="checkedNames">
        <label for="one">选项一</label>
        <input type="checkbox" id="two" value="value_two" v-model.lazy="checkedNames">
        <label for="two">选项二</label>
        <input type="checkbox" id="three" value="value_three" v-model.lazy="checkedNames">
        <label for="three">选项三</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <script src="/resources/js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                checkedNames: []
            }
        })
    </script>
</body>

</html>